.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: crimson;
    margin: auto;
    padding: 15px;
}









@media (min-width: 576px) { }


@media (min-width: 768px) { }


@media (min-width: 992px) { }


@media (min-width: 1200px) { }